.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5ddb70;

  height: 2rem;
  width: 2rem;
  border: black solid 1px;
}

.item:hover {
  background: #7de38d;

  cursor: pointer;
}

.active {
  background: #4cbe5d;
}
