.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  height: 2rem;
  width: 2rem;
  border: black solid 1px;
}

.item:hover {
  background-color: #7da7ca;
  cursor: pointer;
}

.active {
  background-color: #315b7d;
}
