.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0 6rem;
  height: 3rem;
  background: #7de38d;
  cursor: pointer;
  border-radius: 0.5rem;
}

.submit:focus {
  outline: none;
}

.form select {
  margin: 0.5rem 0;
  width: 100%;
  padding: 5px 35px 5px 5px;
  font-size: 1rem;
  border: 1px solid #7de38d;
  height: 3rem;
  appearance: none;
}

.form select {
  outline: none;
}

.error {
  color: red;
  font-weight: bold;
  width: 100%;
}

@media (min-width: 640px) {
  .form select {
    width: 70%;
  }

  .submit {
    width: 70%;
  }

  .error {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .form select {
    width: 50%;
  }

  .submit {
    width: 50%;
  }

  .error {
    width: 50%;
  }
}
